<section
  class="container mx-auto flex px-5 py-24 items-center justify-center flex-col text-white"
>
  <h1 class="title text-center mt-4 text-2xl font-bold">Todo App</h1>
  <div class="text-center mt-8 flex">
    <input
      [formControl]="tarea"
      type="text"
      class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
      placeholder="Escriba una nueva tarea"
    />
    <button (click)="addTask()" class="bg-blue-400 w-6 rounded-lg">+</button>
  </div>
  <div class="flex gap-2.5 mt-2 mb-4">
    <button class="bg-blue-400 rounded-md" (click)="changeFilter('all')">
      Todo</button
    ><button class="bg-blue-400 rounded-lg" (click)="changeFilter('active')">
      Activas</button
    ><button class="bg-blue-400 rounded-lg" (click)="changeFilter('complete')">
      Completas
    </button>
  </div>
  <div>
    <ul class="mt-4 mb-2">
      @for (item of filtra(); track item.id ; let i = $index) { @if (item.editing)
      {
      <input
        (keydown.enter)="updatedate(i, $event)"
        type="text"
        class="text-blue-700 flex p-2 mb-2"
        placeholder="Editar"
        [value]="item.title"
        id=""
      />
      }@else {
      <li class="flex">
        <input type="checkbox" [checked]="item.complete" (click)="toogle(i)" />
        <label for="">{{ item.title }} </label>
        @if (!item.complete) {
        <button class="rounded-md bg-blue-400" (click)="edit(i)">Edit</button>}

        <button class="bg-red-500 rounded-md" (click)="deleteTask(i)">
          Delete
        </button>
      </li>
      } }@empty {
        <p class="mt-4">No tiene tareas pendientes</p>
      }
    </ul>
  </div>
</section>
