<section
  class="container mx-auto flex px-5 py-24 items-center justify-center flex-col text-white"
>
  <h1 class="title text-center mt-4 text-2xl font-bold">Todo App</h1>
  <div class="text-center mt-8 flex">
    <input
      type="text"
      class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
      placeholder="Escriba una nueva tarea"
    />
    <button class="bg-blue-400 w-6 rounded-lg">+</button>
  </div>
  <div class="flex gap-2.5 mt-2">
    <button>Todo</button><button>Activas</button><button>Completas</button>
  </div>
  <div>
    <ul>
      <li></li>
    </ul>
  </div>
</section>
